<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div class="banner4" id="resp4" >
  <div class="banner-left" >
    <img src="image.jpg" alt="banner image" class="imgcover">
  </div>
  <div class="banner-right" id="resp4b" style="padding-left: 2em;">
    <h2 class="banner-title">Mon pré-titre</h2>
    <p class="banner-text-A" id="resp4b" style=" margin : 1em 2em 1em 0 ;">Titre principal de mon CTA qui peut prendre deux lignes </p>
    <button class="banner-button" style="  margin: 0 0 2em 0;">Demander un devis</button>
  </div>
</div>

</body>