<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div class="banner">
  <div class="banner-left" id="resp5" style=" margin-left: 1em;">
    <img src="image.jpg" alt="banner image"  id="resp5" >
  </div>
  <div class="banner-right"  style="padding-right: 1em; text-align: center;">
    <h2 class="banner-title"cid="resp5">Mon pré-titre</h2>
    <p class="banner-text-C" style="padding-left:1em;">Titre principal de mon CTA qui peut prendre deux lignes </p>
    <button class="banner-button"  style="margin-bottom: 1em; ">Demander un devis</button>
  </div>
</div>

</body>