<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div class="banner">
  <div class="banner-left" id="resp6" style="padding-left: 1em;">
    <img src="image.jpg" alt="banner image"id="resp6" >
  </div>
  <div class="banner-right" id="resp6"
  style="padding-left: 1em;">
    <h2 class="banner-title">Mon pré-titre</h2>
    <p class="banner-text-C">Titre principal de mon CTA qui peut prendre deux lignes </p>
    <button class="banner-button"  style="  margin: -1em 0 2em 0;">Demander un devis</button>
  </div>
</div>

</body>