<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div class="banner">
  <div class="banner-left" id="resp7"   >
    <img src="image.jpg" alt="banner image" style="padding: 1em;" id="resp7" >
  </div>
  <div class="banner-right" id="resp3"  style="  padding-left: 1em;">
        <h2 class="banner-title-2">Titre principal de mon CTA qui peut prendre deux lignes</h2>
    <p class="banner-text-B">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare, lectus nec posuere dictum, elit mi aliquet diam, et feugiat. </p>
  
    <button class="banner-button"  style="  margin: -1em 0 2em 0;">Demander un devis</button>
  </div>
</div>

</body>