<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div class="banner4" id="resp4">
  <div class="banner-left" id="resp4b">
    <img src="image.jpg" alt="banner image">
  </div>
  <div class="banner-right" id="resp4b" style=" padding-left: 2em;">
        <h2 class="banner-title-2">Titre principal de mon CTA qui peut prendre deux lignes</h2>
    <p class="banner-text-B" id="resp4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare, lectus nec posuere dictum, elit mi aliquet diam, et feugiat. </p>
  
    <button class="banner-button"  style="  margin: -1em 0 2em 0;">Demander un devis</button>
  </div>
</div>

</body>