<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

<div class="banner">
  <div class="banner-left-9" id="resp9">
    <img src="image.jpg" alt="banner image" class="imgcover" id="resp9">
  </div>
  <div class="banner-right-9" id="resp9">
    <h2 class="banner-title">Mon pré-titre</h2>
    <p class="banner-text-D">Titre principal de mon CTA qui peut prendre deux lignes </p>
    <button class="banner-button">Demander un devis</button>
  </div>
</div>

</body>