.banner {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #E2ECF1;
position: relative;
width: 785px;
height: 237px;
}

.banner4 {
  flex-direction: row-reverse;
display: flex;
align-items: center;
justify-content: space-between;
background-color: #E2ECF1;
position: relative;
width: 785px;
height: 237px;
}

.banner-left {
width: 40%;
}

.banner-right {
width: 60%;

}


.banner-left-9 {
width: 50%;
}

.banner-right-9 {
width: 45%;
}


.imgcover {
width: 100%;
height: 100%;
object-fit: cover;
}


.banner-title {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
  font-family: Lato;
  line-height: 19px;
  font-weight: 700;
}

.banner-title-2 {
 font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  font-family: Lato;
  line-height: 29px;
  font-weight: 700;

}


.banner-text-C {
  font-size:24px;
color: #333;
margin-bottom: 30px;
font-family: Lato;
line-height: 29px;
font-weight: 700;

padding-right:1em ;

}

.banner-text-A {
  font-size: 24px;
  color: #333;
  margin-bottom: 55px;
  font-family: Lato;
  line-height: 29px;
  font-weight: 700;
 
}



.banner-text-B {
  font-size: 14px;
  color: #333;
  margin-bottom: 30px;
  font-family: Open Sans, sans-serif;
  line-height: 19px;
  font-weight: 400;
  width: 407px;
  height: 37px;

}

.banner-text-D {
font-size:24px;
color: #333;
margin-bottom: 20px;
font-family: Lato;
line-height: 29px;
font-weight: 700;

}




.banner-button {
padding: 10px 20px;
background-color: #FCA12B;
color: #fff;
border: none;
border-radius: 3px; 
font-size: 15px;
cursor: pointer;
font-family: Open Sans, sans-serif;
width: 229px;
height: 50px;

}




@media (max-width: 780px) {

 
  .banner {
    flex-direction: column;
width: 100%;
height: auto;

position: relative;
  }

 #resp1 {
  text-align: left;
padding-bottom: 2em;


 }
  #resp1b {
text-align: center;
padding-bottom: 2em;

 }
 #resp2 {
 
padding-bottom: 2em;
 }

#resp3 {
 
  margin-right: 2em;
  text-align: center;

 }

.banner4 {
   flex-direction: column;
width: 100%;
height: auto;

position: relative;
}

 #resp4b{
 text-align: center;
 margin : 1em 2em 1em 0 ;
padding-left: 2em;
 }


 #resp5{

  text-align: center;
  padding-bottom: 2em;
  padding-right: 1em;
  width: 90%;
  margin-top: 1em ;
  margin-bottom: -1em;
 }

 #resp7 {
 text-align: center;


  width: 90%;
  margin-top: 1em ;
 

 }

#resp6{
 text-align: center;
  padding-bottom: 2em;
  padding-right: 0.5em;
  width: 90%;
  margin-top: 1em ;
  margin-bottom: -1em;
}
#resp9{
 text-align: center;
  padding-bottom: 0em;
  width: 90%;
  margin-top: 1em ;
  margin-bottom: 1em;
}

.banner-text-D{
  width: 100%;
    height: 37px;
    padding-bottom: 1em;
    padding-top: -2em;
}
.banner-text-C{
    
    width: 100%;
    height: 37px;
    padding-bottom: 1em;
}
.banner-text-B{
    margin-bottom: 4em;
    width: 100%;
    height: 37px;
    padding-bottom: 1em;
}


.banner-left,
.banner-right 
.banner-left-9,
.banner-right-9{
width: 100%;


}

}